<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-destroy-method="destroy" default-init-method="init">


	<bean id="person" class="com.maven.spring.test.Helloworld.Person"
		scope="singleton" init-method="onCreate" destroy-method="onDestroy">
		<constructor-arg name="id" type="int" value="666"></constructor-arg>
		<constructor-arg name="name" type="String" value="Jose"></constructor-arg>
		
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>
	<bean id="address"
		class="com.maven.spring.test.Helloworld.Address">
	<constructor-arg name="street" value="8-28"></constructor-arg>
	<constructor-arg name="postcode" value="123456789"></constructor-arg>
	</bean>
</beans>
